.wrap-map {
  position: relative;
  min-height: 94vh;
}

.leaflet-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.photos-airbnb {
  width: 400px;
}

.leaflet-container .leaflet-popup-content {
  margin: 0;
}

.leaflet-container .photos-airbnb img {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.leaflet-container .leaflet-popup .slick-dots {
  bottom: 0;
}

.leaflet-container .modal-info {
  padding: 12px;
}

.leaflet-container .slick-dots li button:before {
  opacity: .8;
  color: #fff;
}

.leaflet-container .slick-dots li.slick-active button:before {
  color: #000;
}

.leaflet-container .slick-prev {
  left: 4px;
  z-index: 9;
}

.leaflet-container .slick-next {
  right: 4px;
  z-index: 9;
}

.wrap-map .leaflet-container a.leaflet-popup-close-button {
  width: 30px;
  height: 30px;
  font: 28px Tahoma, Verdana, sans-serif;
  color: #fff;
}

.wrap-map .leaflet-popup-content p {
  margin: 0;
}

p.name-airbnb {
  font-weight: bold;
}