.main {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.main::before {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  width: 240px;
  height: 180px;
  margin-left: -400px;
  z-index: -1;
  content: "";
  left: 40%;
  top: 20%;
  position: absolute;
  filter: blur(80px);
  transform: translateZ(0);
}

.main::after {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  width: 240px;
  height: 180px;
  margin-right: -400px;
  z-index: -1;
  content: "";
  left: 70%;
  top: 60%;
  position: absolute;
  filter: blur(80px);
  transform: translateZ(0);
}

.description {
  display: flex;
  justify-content: left;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  font-weight: 900;
  font-size: x-large;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6rem;
}

h2.logo {
  display: flex;
  justify-content: flex-end;
  font-size: xx-large;
}

.navbar ul {
  display: flex;
  gap: 10px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.options_menu li {
  font-size: large;
  font-weight: 700;
  display: flex;
  align-items: center;
}

a.color {
  background-color: #f39c12;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

span.color {
  color: #f39c12;
}

span.color1 {
  color: #f39c12;
}

.contenedor {
  padding: 40px 100px;
}

.columna {
  column-gap: 40px;
  columns: 200px 2;
}

.columna p {
  column-span: all;
  margin-top: 2rem;
}

.boton1:hover,
.boton:hover {
  cursor: pointer;
}

.fa-solid {
  color: (var(--foreground-rgb));
  width: 100%;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.presentacion {
  width: 100%;
}

@media (prefers-reduced-motion) {
  .card:hover span a {
    transform: none;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  /*   .content {
    padding: 4rem;
  } */

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .contenedor {
    padding: 0px 0;
    column-span: all;
  }

  .main::after {
    display: none;
  }

  .main::before {
    transform: translate(90%, 95%) translateZ(0);
  }

  .imagen {
    display: none;
  }

  .contenedor_boton {
    padding: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar ul {
    display: none;
    gap: 10px;
  }

  .navbar {
    padding: 10px 0rem;
  }
  .options_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .options_menu.showMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(var(--background-start-rgb));

    opacity: 90%;
  }

  .options_menu li {
    margin: 10px 0;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .iconLine {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
  }

  .navbarOpen .menuIcon {
    transform: rotate(90deg);
    z-index: 99;
    position: relative;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  /*   .vercelLogo {
    filter: invert(1);
  } */
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
