a.color {
  background-color: #f39c12;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

span.color {
  color: #f39c12;
}

span.color1 {
  color: #f39c12;
}

#navbarNav {
  justify-content: end;
}